* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --h1-font: 4rem;
    --h2-font: 2.9rem;
    --p-font: 1.1rem;
    --bg-color: #121b25;
    --text-color: #000000;
    --main-color: #1aa090;
    --other-color: #d6d6d6;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 20px 10%;
    transition: all .50s ease;
    background-color: rgb(27, 35, 56);
}

.logo img {
    height: 50px;
    width: auto;
    padding-left: 70px;
}

.navbar {
    display: flex;
    margin-right: 10%;
}

.navbar a {
    padding: 10px 20px;
    font-size: var(--p-font);
    font-weight: 400;
    color: var(--other-color);
    transition: all .40s ease;
}

.navbar a:hover {
    color: var(--text-color);
}

.h-btn {
    display: flex;
    align-items: center;
}

.h-btn2, .h-btn1 {
    display: inline-block;
    padding: 10px 18px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
    transition: all .40s ease;
}

.h-btn1 {
    color: var(--other-color);
}

.h-btn2 {
    display: inline-block;
    padding: 10px 18px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
    transition: all .40s ease;
    color: white;
    background: var(--main-color);
}


.h-btn2:hover {
    transform: translateX(-7px);
}

section.login {
    padding: 80px 15% 70px;
    text-align: center;
}

section.login h1 {
    font-size: var(--h1-font);
    margin-bottom: 20px;
    color: var(--other-color);
}

form {
    display: grid;
    grid-gap: 20px;
    max-width: 400px;
    margin: auto;
}

label {
    color: var(--other-color);
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--other-color);
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: var(--main-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .40s ease;
}

button:hover {
    color: blue;
}
